@media screen and (min-width : 480px) {
	.nav-link {
		margin: 2px;
		color: #1DBF73;
		display: inline;
		font-size: 0.8em;
	}
	.active {
		display: none !important;
	}

	/*course page*/
	.right04 img {
			display: inline-block;
		}
	footer {
		display: block;
	}
	#footer_m {
		display: none;
	}
	#chat {
        display: inline-block;
	}
	.px-5 {
	    text-align: left;
	    display: grid;
		grid-template-columns: 3fr 2fr;
	}
	.px-5 a {
	    display: inline-block;
	    margin: auto 2%;
	    transform: translateY(50%);
	}
}
@media screen and (min-width : 750px) {
	#Mnav {
		display: none;
	}
	#Dnav {
		display: block;
		padding-bottom: 1rem; 
	}
	.padding {
		padding: 2% 7%;
	}
	.nav-link {
		margin: 0;
	}
}
@media screen and (min-width : 820px) {
	.active {
		display: inline-block !important;
	}
	.child05 img {
	    width: 100%;
	    min-height: 100%;
	}
}
@media screen and (min-width: 970px) {
	
	.not-mob {
		display: inline-block;
	}
}
@media screen and (min-width: 768px) {
	div#header {
		background-size: cover;
	}
	input, button, textarea {
		width: 60%;
	}
	.accordion {
		box-shadow: none !important;
	}
	footer {
		text-align: left;
	}
	#footer {
		text-align: left;
	}
	.f_content {
		padding: 0;
	}
}