@media screen and (min-width : 480px) {
	.bg0 {
	    width: 100%;
	/*    height: 774px;*/
	    /*background-image: url(../images/architecture-blue_1.jpg);*/
	    background-size: cover;
	    background-color: #253A4A;
	    background-blend-mode: multiply;
	    background-position: center;
	    color: white;
	    padding: 2% 7%;
	}
	.child05 img {
	    width: 100%;
	    min-height: auto;
	}
	.active {
		display: none !important;
	}
	.nav-link {
		margin: 2px;
		color: #1DBF73;
		display: inline;
		font-size: 0.8em;
	}
	.right04 img {
			display: inline-block;
		}
	footer {
		display: block;
	}
	#footer_m {
		display: none;
	}
	#chat {
        display: inline-block;
	}
	.px-5 {
	    text-align: left;
	    display: grid;
		grid-template-columns: 3fr 2fr;
	}
	.px-5 a {
	    display: inline-block;
	    margin: auto 2%;
	    transform: translateY(50%);
	}
	#chat {
		display: inline-block;
	}
	@media screen and (min-width : 750px) {
		#Mnav {
			display: none;
		}
		#Dnav {
			display: grid;
			grid-template-columns: auto auto;
		}

		.padding {
			padding: 2% 7%;
		}
		#NavBar {
			margin: 10px 0;
		}
		.nav-link {
			margin: 0;
		}
		@media screen and (min-width : 820px) {
			#NavBar {
				margin: 10px 0;
			}
			.nav-link {
				margin: 5px 0;
			}
			
			.mycards {
			    display: grid;
			    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
			    grid-column-gap: 2%;
			    text-align: center;
			    padding: 5%;
			}
			.child05 img {
			    width: 100%;
			    min-height: 100%;
			}
			@media screen and (min-width: 970px) {
				.active {
					display: inline-block !important;
				}
				.not-mob {
						display: inline-block;
					}
				}
			}
		}
	}
}


