@media screen and (min-width : 480px) {
	.bg0 {
	    width: 100%;
	/*    height: 774px;*/
	    /*background-image: url(../images/architecture-blue_1.jpg);*/
	    background-size: cover;
	    background-color: #253A4A;
	    background-blend-mode: multiply;
	    background-position: center;
	    color: white;
	    padding: 2% 7%;
	}
	#topcenter_m {
		display: none;
	}
	#topcenter {
		display: block;
	}
	.child05 img {
	    width: 100%;
	    min-height: auto;
	}
	.active {
		display: none !important;
	}
	.check {
		background-color: #1DBF73;
		padding: 10px 100px;
		border-radius: 0;
		font-weight: 700;
		margin: 10px 30px;
		border: none;
		text-align: center;
	}
	.class01 {
		text-align: left !important;
	}
	.ready {
	    padding: 5% 6%;
	    background-repeat: no-repeat;
	    color: white;
	    margin: 5% 0;
	    text-align: left;
	}
	.no_m {
		display: block;
	}
	.px-5 a {
    display: inline-block;
	}
	.impact {
		text-align: left;
	}
	.nav-link {
		margin: 2px;
		color: white;
		display: inline;
		font-size: 0.8em;
	}
	footer {
		display: block;
	}
	#footer_m {
		display: none;
	}
	#chat {
        display: inline-block;
	}
	.px-5 {
	    text-align: left;
	    display: grid;
		grid-template-columns: 3fr 2fr;
	}
	.px-5 a {
	    display: inline-block;
	    margin: auto 2%;
	    transform: translateY(50%);
	}
	#chat {
		display: inline-block;
	}
	@media screen and (min-width : 750px) {
		#Mnav {
			display: none;
		}
		#Dnav {
			display: grid;
			grid-template-columns: auto auto;
			padding: 0;
			margin: 0;
		}
		
		.bordered {
		    border-right: 1px solid black;
		    margin-bottom: 4%;
		}
		#lasta {
		    border: none;
		}
		.padding {
			padding: 2% 7%;
		}
		#NavBar {
			margin: 10px 0;
		}
		.nav-link {
			margin: 0;
		}
		@media screen and (min-width : 820px) {
			#NavBar {
				margin: 10px 0;
			}
			.nav-link {
				margin: 5px 0;
			}
			
			.mycards {
			    display: grid;
			    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
			    grid-column-gap: 2%;
			    text-align: center;
			    padding: 5%;
			}
			.child05 img {
			    width: 100%;
			    min-height: 100%;
			}
			@media screen and (min-width: 970px) {
				.active {
					display: inline-block !important;
				}
				.not-mob {
						display: inline-block;
					}
				}
			}
		}
	}
}


