body {
    font-family: raleway;
    background-color: #FBFBFB;
    box-sizing: border-box;
}
img {
    width: 120px;
}
#Dnav {
    display: none;
    padding: 2% 7%;
    padding-bottom: 0;
}
#Mnav {
    display: block;
    padding: 2% 4%;
    padding-bottom: 0;
}
#Mnav span {
    background-color: #1DBF73;
}
#NavBar ul li {
    display: inline;
}
#NavBar ul {
    float: right;
}
.nav-link {
    margin: 0 !important;
}
.bg2 {
    width: 100%;
    background-color: #D2F1E2;
    padding: 0;
    padding-bottom: 2%;   
}
.bg1 {
    width: 100%;
    background-color: #D0FFF3;
    padding: 0;
}
.bg0 {
    width: 100%;
    background-image: url(../images/architecture-building-glass-162539.jpg);
    background-size: cover;
    background-color: #253A4A;
    background-blend-mode: multiply;
    background-position: center;
    /*color: white;*/  
}
/*.bgg {
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%)
}*/
#started {
    background-color: #1DBF73;
    color: white !important;
    border-radius: 20px;
    padding: 10px 25px;
    text-align: center;
 /*   box-sizing: border-box;*/
}
.left01 {
    padding: 5% 7%;
    padding-right: 10%; 
    color: black;
    text-align: left;
}
#micro {
    display: inline-block;
    border-bottom: 2px solid #1DBF73;
}
.fa-check-circle {
    color: #1DBF73;
}
.fa-play-circle {
    font-size: 100px;
}
.right01 a div {
    padding: 17% 0;
    text-align: center;
    color: white;
    text-decoration: none;
}
.right01 a:hover div {
    color: #bbb;
    text-decoration: none !important;
}
.right01 a:hover {
    color: #bbb;
    text-decoration: none !important;
}
.left01 h3 {
    color: #ff83b8;
    font-size: 3em;
}
.right01 {
    background-color: #1DBF73;
    background-image: url(../images/programmer.jpg);
    background-size: cover;
    background-blend-mode: multiply;
    

}
.left02 {
    padding-right: 7%;
    text-align: justify;
}
.right02 {
    margin-top: 7%;
    text-align: center;
}
.big {
    font-size: 2em;
    color: #1DBF73;
}
.padding {
    padding: 2% 10%;
}
.container03 h3 {
    display: inline-block;
    padding: 1%;
    background: #1DBF73;
    border-bottom: 4px solid black;
    color: white;
    font-size: 3em;
}
ul.course-lead {
    padding: 0;
}
.course-leads li {
    list-style: none;
    display: inline-block;
    margin: 3%;
    padding: 0;
}
.course-leads li img {
    width: 150px;
    height: 150px;
    border-radius: 55%;
    border: 2px solid #1DBF73;
}
.course-leads h4 {
    color: #1DBF73;
}
.syllabus > .card {
    border: none;
    box-shadow: 5px 5px 3px #999;
}
.px-4 {
    border-left: 2px solid #1DBF73;
}
.left04, .left05 {
    text-align: justify;
}
.right04 img {
    width: 60%;
    transform: scaleX(-1);
    margin-left: 15%;
}
.right05 {
    padding-top: 10%;
    padding-left: 7%;
}
.f_content ul li, .right05 ul li {
    list-style: none;
}
footer ul {
    padding: 0;
}
footer a {
    text-decoration: none;
    color: #d9d9d9;
    text-align: left;
}
footer a:hover {
    text-decoration: underline;
    color: white;
}
.follow ul li {
    display: inline;
    margin: 2px;
}
.fa-facebook, .fa-instagram, .fa-linkedin, .fa-twitter {
    font-size: 20px;
    margin: 2px;
}
footer {
    display: none;
    padding-left: 5% !important;
    padding-right: 5% !important;
    padding-top: 5%;
    background-color: black;
    color: white;
    margin-top: 25px;
}
#eng a {
    border: 1px solid white;
    padding: 4px;
    border-radius: 15px;
    float: right;
    margin-right: inherit;
    margin-bottom: 4px;
}
#footer {
    display: grid;
    grid-template-columns: auto auto;
    text-align: left;
    padding: 3px 7%;
}
#footer ul li {
    display: inline;
    text-align: left;
    margin: 5px;
}
#footer ul {
    margin: 0;
    padding: 0;
}
#footer_m {
        display: block;
        background-color: black;
        color: white;
        padding: 1%;
        text-align: center;
}
#chat {
    display: none;
    font-size: 30px;
    float: right;
    padding: 7px;
    background-color: #1DBF73;
    color: white;
    border-radius: 100%;
    margin-right: 7%;
}
#chat:hover {
    font-size: 30px;
    float: right;
    padding: 7px;
    background-color: white;
    color: #1DBF73;
    border-radius: 100%;
    margin-right: 7%;
}